<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Usuario</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-[#FFEB3A] to-[#4DEF8E]">
  <!-- bg-[#F3F4F6] -->
  <!--  background: linear-gradient(220.55deg, #FFEB3A 0%, #4DEF8E 100%); -->
  <div id="app">

    <!--   Formulario para agregar usuario -->

    <div class=" bg-white rounded-lg shadow-lg sm:max-w-md sm:w-full sm:mx-auto sm:overflow-hidden mt-8">
      <div class="px-4 py-8 sm:px-10">
        <div class="relative mt-6">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300">
            </div>
          </div>
          <div class="relative flex justify-center text-sm leading-5">
            <span class="px-2 text-gray-500 bg-white">
              Panel de clientes
            </span>
          </div>
        </div>
        <div class="mt-6">
          <div class="w-full space-y-6">
            <div class="w-full">
              <div class=" relative ">
                <input v-model="firstName" type="text" id="search-form-price"
                  class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                  placeholder="Firstname" />
              </div>
            </div>
            <div class="w-full">
              <div class=" relative ">
                <input v-model="lastName" type="text" id="search-form-location"
                  class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                  placeholder="Lastname" />
              </div>
            </div>
            <div class="w-full">
              <div class=" relative ">
                <input v-model="email" type="email" id="search-form-name"
                  class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                  placeholder="email" />
              </div>
            </div>
            <div>
              <span class="block w-full rounded-md shadow-sm">
                <button @click="addClient" type="button"
                  class="py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                  Agregar
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="px-4 py-6 border-t-2 border-gray-200 bg-gray-50 sm:px-10">
        <p class="text-xs leading-5 text-gray-500">
          Estos datos se muestran para información y pueden cambiar.
        </p>
      </div>
    </div>

    <!-- Tabla de usuarios -->

    <div class="mx-auto px-4 sm:px-8">
      <div class="py-8">
        <div class="flex flex-row mb-1 sm:mb-0 justify-between w-full">
          <h2 class="text-2xl leading-tight text-gray-700">
            Clientes
          </h2>
          <div class="text-end">
            <form
              class="flex flex-col md:flex-row w-3/4 md:w-full max-w-sm md:space-x-3 space-y-3 md:space-y-0 justify-center">
              <div class=" relative ">
                <input type="text" id="&quot;form-subscribe-Filter"
                  class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                  placeholder="name" />
              </div>
              <button
                class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-purple-600 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-200"
                type="">
                Filter
              </button>
            </form>
          </div>
        </div>
        <div class="sm:-mx-8 px-0 sm:px-8 py-4 overflow-x-auto mx-auto">
          <div class="min-w-0 shadow rounded-lg overflow-hidden md:w-10/12 md:mx-auto">
            <table class="min-w-full leading-normal table-auto">
              <thead>
                <tr>
                  <th scope="col"
                    class=" sm:text-start sm:px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                    User
                  </th>
                  <th scope="col"
                    class="sm:px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                    Last Name
                  </th>
                  <th scope="col"
                    class=" sm:text-start sm:px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                    Email
                  </th>

                  <th scope="col"
                    class="sm:px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="cliente in clientes">
                  <td class="sm:px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <div class="flex items-center">

                      <div class="ml-3">
                        <p class="text-gray-900 whitespace-no-wrap">
                          {{cliente.firstName}}
                        </p>
                      </div>
                    </div>
                  </td>
                  <td class="sm:px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{cliente.lastName}}
                    </p>
                  </td>
                  <td class="sm:px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{cliente.email}}
                    </p>
                  </td>

                  <td class="sm:px-5 py-5 border-b border-gray-200 bg-white text-sm cursor-pointer">
                    <a @click="deleteClient(cliente)" class="text-red-600 hover:text-red-900">
                      Eliminar
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="px-5 bg-white py-5 flex flex-col xs:flex-row items-center xs:justify-between">
              <div class="flex items-center">
                <button type="button"
                  class="w-full p-4 border text-base rounded-l-xl text-gray-600 bg-white hover:bg-gray-100">
                  <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z">
                    </path>
                  </svg>
                </button>
                <button type="button"
                  class="w-full px-4 py-2 border-t border-b text-base text-indigo-500 bg-white hover:bg-gray-100 ">
                  1
                </button>
                <button type="button"
                  class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-gray-100">
                  2
                </button>
                <button type="button"
                  class="w-full px-4 py-2 border-t border-b text-base text-gray-600 bg-white hover:bg-gray-100">
                  3
                </button>
                <button type="button"
                  class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-gray-100">
                  4
                </button>
                <button type="button"
                  class="w-full p-4 border-t border-b border-r text-base  rounded-r-xl text-gray-600 bg-white hover:bg-gray-100">
                  <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col space-y-1.5 ">

      <h2 class="text-center text-gray-700">Client REST response</h2>
      <pre class="self-center text-gray-700 text-xs sm:text-base">{{ clientes }}</pre>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="manager.js"></script>

</body>

</html>